/* CSS */
table{
    border: 5px solid green;
    border-collapse: collapse ;
    }
th, td{
    border: 1px solid green;
    border-collapse: collapse ;
    padding: 5px;
}
th{
    text-align: center;
    background-color: yellow;
}
td{
    text-align: right;
}
p{
    text-align: center;
}